@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
}
.about-section{
    margin-top: 90px;
}
.about-section h3{
    color: #0080FF;
    font-size: 1rem;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    letter-spacing: 5px;
}
.about-section p{
    color: #606972;
    font-size: 1.1rem;
    font-weight: 400;
}